<div class="container">
  <div>
    <button class="btn btn-primary" (click)="insert()">Insert new personal</button>
  </div>
  <br>
  <div>
    Hiển thị
    <select>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
    bản ghi
  </div>
  <br>
  <table style="height: 80%" class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Hobby</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let p of personals| paginate:{itemsPerPage:5 , currentPage:p }">
        <td>{{p.id}}</td>
        <td>{{p.firstName|titlecase}}</td>
        <td>{{p.lastName|titlecase}}</td>
        <td>{{p.phone}}</td>
        <td>{{p.email}}</td>
        <td>{{p.hobby}}</td>
        <td>{{p.des}}</td>
        <td><button class="btn btn-default" (click)="update(p)"> <span class="glyphicon glyphicon-pencil"></span>
            Update</button></td>
        <td><button class="btn btn-danger" (click)="delete(p)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div class=" container">
  <div class="float-right">
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>
</div>
<router-outlet></router-outlet>