<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Hobby</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let p of personals">
        <td>{{p.id}}</td>
        <td>{{p.firstName|titlecase}}</td>
        <td>{{p.lastName|titlecase}}</td>
        <td>{{p.phone}}</td>
        <td>{{p.email}}</td>
        <td>{{p.hobby}}</td>
        <td>{{p.des}}</td>
        <td><button class="btn btn-waring" [routerLink]="['/personal', p.id, 'edit']">Update</button></td>
        <td><button class="btn btn-danger" (click)="delete(p)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
{{personals}}
