
<div class="container">
  <div class="child">
    <form class="example-form" >
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" value="Sushi">
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-select  clas s="select" placeholder="Status">
                <mat-option value="enable">
                    Enable
                  </mat-option>
              <mat-option value="disable">
                Disable
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          
      </form>
    </div>
</div>